<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>到位App</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div>
        <div id="login">
            <div>
                <img src="img/houtai-logo.png" alt="后台管理logo">
                <div class="login">
                    <span>
                        <img src="img/w-1.png" alt="用户名">
                    </span><br/>
                    <span>
                        <img src="img/s2.png" alt="密码">
                    </span>
                    <form action="">
                        <input type="text" placeholder="输入昵称或手机号">
                        <input type="password" placeholder="输入密码">
                    </form>
                </div>
                <div class="submit">
                    <a href="/?1">
                        <button>登录</button>
                    </a>

                </div>

                <div class="l_text">
                    <a href="/password.html">忘记密码</a>
                    <a href="/regist.html">注册</a>
                </div>
            </div>
        </div>
    </div>


</body>
<script></script>
</html>